extends ./includes/layout.jade

block vars
	- var bodyId = 'donations'
	- var accordions = false
	- var counter = false
	- var lightbox = false
	- var socialIcons = false
	- var scrollActions = false
	- var scrollTos = false

block pageMeta
	title Donate your unwanted items to Sara UK in England
	+description('Help to raise money to support the local community. If you would like to donate any unwanted goods, please call our team in reading on 07882437140.')

block pageContent

	#banner.row
		.contain

			.column.margin-0
				.content
					h1 Don't dump it, donate it!
					p.
						The affects of Asthma can be distressing for sufferers, families and their carers. Every day the lives of families are devastated by the death of a family member due to an Asthma attack. We raise money to support the local community, we rely on your money donations, donated goods and all round support.
	.row
		.contain

			.column.l-span-6.xl-span-6.margin-0
				.column
					.content
						h2.h1 Donating Your Unwanted Goods
						br
						p We need your help to raise money by donating your unwanted goods.

						.donate-items.clearfix

							.column.xl-span-6.margin-0
								.content
									ul.block-list
										li #[img(src="#{imagesDir}red-tick.png", width="16", height="16", alt="Tick Icon")] Fridges/Freezers
										li #[img(src="#{imagesDir}red-tick.png", width="16", height="16", alt="Tick Icon")] White Goods
										li #[img(src="#{imagesDir}red-tick.png", width="16", height="16", alt="Tick Icon")] Electrical Items
										li #[img(src="#{imagesDir}red-tick.png", width="16", height="16", alt="Tick Icon")] Audio Equipment
										li #[img(src="#{imagesDir}red-tick.png", width="16", height="16", alt="Tick Icon")] Furniture
										li #[img(src="#{imagesDir}red-tick.png", width="16", height="16", alt="Tick Icon")] Beds
							.column.xl-span-6.margin-0
								.content
									ul.block-list
										li #[img(src="#{imagesDir}red-tick.png", width="16", height="16", alt="Tick Icon")] Wardrobes
										li #[img(src="#{imagesDir}red-tick.png", width="16", height="16", alt="Tick Icon")] Curtains
										li #[img(src="#{imagesDir}red-tick.png", width="16", height="16", alt="Tick Icon")] Childrens Toys
										li #[img(src="#{imagesDir}red-tick.png", width="16", height="16", alt="Tick Icon")] Childrens Furniture
										li #[img(src="#{imagesDir}red-tick.png", width="16", height="16", alt="Tick Icon")] Prams
										li #[img(src="#{imagesDir}red-tick.png", width="16", height="16", alt="Tick Icon")] Clothing
						p.
							If you would like to donate any of the goods listed above, please call our team at #[a(href="tel:+447882437140", onclick="ga('send', 'event', 'Click', 'Contact', 'Telephone', 'Donate page');", title="Call 07882437140") 07882437140] between 10am and 5.30pm Mon-Fri or visit our showroom at 15 Bennet Road, Reading, Berkshire, RG2 0QX.
						p Please do not be disappointed if we cannot accept items for quality or safety reasons.
				.column.margin-0
					.content
						h2.h1 Donating Money
				.column
					.clearfix

						//-.column.m-span-6.l-span-6.xl-span-6
							.content
								h2 Via Bank Transfer
								span.p
									strong SARA#[span.uk UK] charity #[br]
									span Sort Code: 54-30-33 #[br]
									span Account Number: 37697560 #[br]
									span Reference: SARA Donation
								
								span.p
									strong Not for profit trading arm SARA lTab #[br]
									span Sort Code: 54-30-33 #[br]
									span Account Number: 37707485 #[br]
									span Reference: SARA Donation

						//-.column.m-span-6.l-span-6.xl-span-6
						.content
							h3.h2 Via Cheque
							p #[strong Made payable to:] #[br]Strathaven Asthmatic Relief Action UK #[strong or] SARA UK
							p.
								#[strong Post to:] #[br]
								SARA UK#[br]
								15 Bennet Road#[br]
								Reading#[br]
								Berkshire#[br]
								RG2 0QX

			.column.s-hide.m-hide.l-span-6.xl-span-6.margin-0
				.content
					aside
						figure.margin-bottom
							img(src="#{imagesDir}childrens-toys-and-books.jpg", alt="Childrens toys and books")
							figcaption Childrens Toys &amp; Books
						figure.margin-bottom
							img(src="#{imagesDir}clothes.jpg", alt="Clothes")
							figcaption Clothes